{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} {{ object.username }} - {{ block.super }} {% endblock %}

{% block body %}
  <div class="col-sm-12 row">
    <div class="col-sm-3 col-md-2 text-center" >
      <h1 >{{ object.username }}</h1 >
    </div>
    <div class="col-sm-9 col-md-10" >
      <form method="post" action="{% url 'core:ask' pk=object.id %}">
        {{ question_form | crispy }}
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="action" value="Save" >Ask</button >
      </form>
      <ul class="list-unstyled answers" >
        {% for question in questions %}
          <li class="row">
            {% include 'core/common/display_question.html' %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div >
{% endblock %}
