{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} {{ object.username }} - {{ block.super }} {% endblock %}

{% block body %}

<div class="profile-info text-center col-sm-12">
  <div class="avatar"> 
    <img src="{{ object.avatar_url }}" alt="">
  </div>
  <h2>{{ object.username }}</h2>
  {% if object.location %}
  <p>Location: {{ object.location }}</p>
  {% endif %}
  <p>Gender: {{ object.get_gender_display }}</p>
  {% if object.bio %}
  <p>Bio: {{ object.bio }}</p>
  {% endif %}
</div>

<div class="d-flexf lex-nowrap row col-sm-12 mt-4">
  <div class="order-2 order-sm-1 col-sm-8">
    {% for question in questions %}
    <div class="col-sm-12 question pt-4">
      {% include 'core/common/display_question.html' %}
    </div>
    {% empty %}
    <p>empty</p>
    {% endfor %}
  </div>
  <div class="order-1 order-sm-2 col-sm-4">
    {% if request.user.is_authenticated %}
    {% include 'core/common/question_form.html' with asked_to=object.id %}
    {% else %}
    Want to ask a question? <a href="{% url 'user:login' %}">Login</a> now.
    {% endif %}
  </div>
</div>
{% endblock %}
