{% if question.answer %}
<h2><a href="{% url 'core:answer-detail' pk=question.answer.id %}">{{ question.text }}</a></h2>
{% else %}
<h2>{{ question.text }}</h2>
{% endif %}

<p class="meta">
<small>Asked by
  {% if question.anonymous %}
  Anon
  {% else %}
  <a href="{% url 'user:profile' pk=question.asked_by.id %}">
    {{ question.asked_by }}
  </a>
  {% endif %} to
  <a href="{% url 'user:profile' pk=question.asked_to.id %}">
    {{ question.asked_to }}
  </a>
</small>
</p>

{% if question.answer %}
<p>{{ question.answer.text }}</p>

<div class="row action">
  {% if request.user.is_authenticated %}
  <form method="post" action="{% url 'core:like-create' pk=question.answer.id %}">
    <fieldset>
      {% csrf_token %}

      <button type="submit" id="completed-task" class="fabutton">
        {{ question.answer.total_likes }}
        <span class="octicon octicon-heart"></span>
      </button>
    </fieldset>
  </form>
  {% endif %}

  {% if question.asked_to == request.user %}
  <form method="POST" action="{% url 'core:answer-delete' pk=question.answer.id %}">
    {% csrf_token %}

    <button type="submit" id="completed-task" class="fabutton">
      <span class="octicon octicon-trashcan"></span>
    </button>

  </form>
  {% endif %}
</div>
{% endif %}
