{% if question.answer %}
<h2><a href="{% url 'core:answer-detail' pk=question.answer.id %}">{{ question.text }}</a></h2>
{% else %}
<h2>{{ question.text }}</h2>
{% endif %}

<p class="meta">
<small>Asked by
  {% if question.anonymous %}
  Anon
  {% else %}
  <a href="{% url 'user:profile' pk=question.asked_by.id %}">{{ question.asked_by }}</a>
  {% endif %}
  to <a href="{% url 'user:profile' pk=question.asked_to.id %}">{{ question.asked_to }}</a>
</small>
</p>

{% if question.answer %}
<p>{{ question.answer.text }}</p>

<div class="row action">
  {% if request.user.is_authenticated %}
  {% include 'core/common/like_form.html' %}
  {% endif %}

  {% if question.asked_to == request.user %}
  {% include 'core/common/delete_answer_form.html' %}
  {% endif %}

</div>

{% if question.answer.liker %}
<h5>Likers</h5>
{% for liker in question.answer.liker %}
{{liker.liked_by}}
{% endfor %}
{% endif %}
{% endif %}
