{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Ask me{% endblock %}</title>
    <link rel='stylesheet' href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.3.0/font/octicons.min.css" media="all">
    <link rel="stylesheet" href="{% static "css/base.css" %}" media="all">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Ask me</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="octicon octicon-three-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "user:user-list" %}"><span class="octicon octicon-home"></span> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "user:my-profile" %}"><span class="octicon octicon-person"></span> My profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "user:inbox" %}"><span class="octicon octicon-inbox"></span> Inbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "user:user-update" pk=request.user.id %}"><span class="octicon octicon-gear"></span> Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "user:logout" %}"><span class="octicon octicon-sign-out"></span> Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "user:login" %}"><span class="octicon octicon-sign-in"></span> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "user:register" %}"><span class="octicon octicon-sign-out"></span> Register</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/andreyvpng/askme"><span class="octicon octicon-repo"></span> Repository</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-4 mb-5">
      {% block body %}{% endblock %}
    </div>


    <footer class="footer">
      <div class="container">
        <span class="text-muted">Made by <a href="https://github.com/andreyvpng">Andrey Varfolomeev</a>.</span>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static "js/base.js" %}"></script>
  </body>
</html>
